.cart{
    
    padding: 30px;
}
.btn-me{
    border: none;
    color: #6ab04c;
    font-weight: 700;
    border-radius: 10px;
    padding: 7px;
}
.btn-again{
    border: none;
    color: #f0932b;
    border-radius: 10px;
    padding: 7px;
    margin-top: 10px;
    font-weight: 700;
}