.title{
    text-align: center;
}
.shoes-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    
}
.cart-container{
    background-color: #c5bfe6;
    height: 450px;
}
@media screen and (max-width: 576px){
    .products-container{
        grid-template-columns: repeat(1, 1fr);
        
    }
    
}